<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "Gamma", photos_home_path, class: "navbar-brand em-text" %>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li class="<%= 'active' if action_name == 'home' %>"><%= link_to "home", photos_home_path %></li>
                  <li class="<%= 'active' if action_name == 'about' %>"><%= link_to "about", photos_about_path %></li>
                  <li class="<%= 'active' if action_name == 'contact' %>"><%= link_to "contact", photos_contact_path %></li>
                </ul>
            </div>
        </div>
</nav>
